<p id="notice"><%= notice %></p>

<div class="container">
	<%= image_tag @product.image_url, class: "img-responsive bigshowpic" %>
</div>

<div class="container">
<div class="row">
	<div class="col-md-3">
		<h4 :class="hello">
  			<span class="glyphicon glyphicon-home" aria-hidden="true"><strong>Name:</strong></span>
  			<%= @product.name %>
		</h4>
	</div>
	<div class="col-md-3">
		<h4>
  			<span class="glyphicon glyphicon-zoom-in" aria-hidden="true"><strong>Description:</strong></span>
  			<%= @product.description %>
		</h4>
	</div>
	<div class="col-md-3">
		<h4>
			<span class="glyphicon glyphicon-picture" aria-hidden="true"><strong>Photo</strong></span>
  			<%= image_tag @product.image_url, class: "img-responsive showpic" %>
		</h4>
	</div>
	<div class="col-md-3">
		<h4>
  			<span class="glyphicon glyphicon-pencil" aria-hidden="true"><strong>Colour:</strong></span>
  			<%= @product.colour %>
		</h4>
	</div>
</div>
</div>

<%= render 'new_comment' %>
<%= render 'all_comments' %>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>

<!--p :class => "hello">
  <strong>Name:</strong>
  <%#= @product.name %>
</p>

<p>
  <strong>Description:</strong>
  <%#= @product.description %>
</p>

<p>
  <strong>Image url:</strong>
  <%#= @product.image_url %>
</p>

<p>
  <strong>Colour:</strong>
  <%#= @product.colour %>
</p-->

<%#= link_to 'Edit', edit_product_path(@product) %> |
<%#= link_to 'Back', products_path %>