<!DOCTYPE html>
<html>
<head>
  <title>SampleApp</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>
<body>
	<!--div class="wrapper"-->
  <!--div class="navbar navbar-inverse navbar-static-top" id="navigationbar">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li class="active"><a href="./">Home</a></li>
      <li><a href="blog/">Blog</a></li>
      <li><a href="projects/">Projects</a></li>
      <li><a href="contact/">Contact</a></li>
    </ul>
  </div>
</div-->
  <body data-spy="scroll" data-target=".navbar">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <!--p class="notice"><%= notice %></p-->
    <!--p class="alert">Test alert<%= alert %></p-->
    <% if notice %>
      <p id="notice" class="alert alert-info"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p id="alert" class="alert alert-info"><%= alert %></p>
    <% end %>
    
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="navigacion">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse"
          data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="Home navbar-brand" id="bberl">
            <!--a href="#">BikeBerlin</a-->
            <%=link_to "BikeBerlin", static_pages_landing_page_path%>
          </div> 
        </div> 
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <!--li><a href="#about">About us</a></li-->
            <li><%=link_to "About", static_pages_about_path%></li>
            <!--li><a href="#hacemos">What we do</a></li-->
            <li><%=link_to "What we do", static_pages_index_path%></li>
            <!--li><a href="#faq">Products</a></li-->
            <li><%=link_to "Products", products_path%></li>
            <!--li><a href="#other">Contact</a></li-->
            <li><%=link_to "Contact", static_pages_contact_path%></li>
            <%= form_tag("/products", class: "navbar-form navbar-left", method: "get") do %>
            <div class="form-group">
            <%= label_tag(:q, "Search for:", class: "form-control") %>
            <%= text_field_tag(:q, nil, class: "form-control") %></div>
            <%= submit_tag("Search", class: "btn btn-default") %>
            <% end %>
          </ul>
          <ul class="nav pull-right" id="logouts">
            <li>
            <% if user_signed_in? %>
            <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
            <% else %>
            <%= link_to('Login', new_user_session_path) %>
            <% end %>
            </li>
          </ul>
        </div>
      </div>
    </nav> <!-- end navbar-->

    <div class="container" id="anchor">
    </div>
  <div class="old">
	 <h1>Welcome to Bike Berlin</h1>
	 <h2>Your source for used bikes in Berlin</h2>
  </div>




<%= yield %>
<!--div class="push"></div>
</div--> <!--Wrapper-->
<!--div class="footer">
    <p>Footer content here</p>
 </div-->
<!--footer>
	<div class="container-fluid" id="foot">
		<p>I am the footer element</p>
	</div>
</footer-->

</body>
</html>
